* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #212338;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

/* General Style */

.btn-style {
    padding: 12px 25px;
}

.section-transaction-step::before, .site-section::before{
	content: "";
    display: table
}

.section-transaction-step::after, .site-section::after {
	clear: both;
    content: " ";
    display: table
}

.text-align-center {
    text-align: center;
}



/* Header - Top header */

header {
    border: 1px solid rgb(38 33 65 / 7%);
}

.top-header {
    padding: 20px 15px;
    padding-bottom: 0;
}

.top-header > div {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 2 - 10px);
}

.header-nap > div {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0 15px;
}

.header-nap > div:last-child {
    margin-right: 0;
	margin-left: 0;
}

.header-nap a {
    text-decoration: none;
    color: #212338;
    font-weight: 500;
    font-size: 14px;
    transition: 0.5s ease-in-out;
}

.header-nap {
    text-align: right;
}

.header-login {
    border: 1px solid #21233833;
    border-radius: 5px;
    outline: none;
    transition: 0.5s ease-in-out;
    background-color: transparent;
}

.header-login:hover {
    border: 1px solid #04c38b;
    background-color: #04c38b;
}

.header-login:hover a{
	color: #fff;
}

.header-signup {
    border: 1px solid #04c38b;
    border-radius: 5px;
    background-color: #04c38b;
}

.header-signup a {
	color: #fff;
}

.navigation {
    padding: 0 15px;
    padding-bottom: 20px;
}

.navigation ul {
    padding: 0;
}

.navigation li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    font-weight: 500;
    color: #212338;
    font-size: 14px;
    transition: 0.5s ease-in-out;
}

.navigation a:hover {
    color: #04c38b;
}

/* Hero Banner */

section.hero-banner {
    position: relative;
}

.hero-banner-holder {
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(90vh - 108px);
}

.hero-banner-title {
    color: #212338;
    font-weight: 700;
    font-size: 40px;
}

.hero-banner-title-snippets {
    text-align: left;
    margin-top: 10px;
    color: #827e7e;
    line-height: 30px;
}

.hero-banner-title > span {
    color: #00dd95;
    padding-left: 20px;
}

.hero-banner-contents {
    margin-bottom: 30px;
}

.hero-banner-float {
    position: absolute;
    left: 100px;
    top: 50px;
    width: 100%;
    max-width: 800px;
}

.registration-form {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 4%), 0 2px 8px 0 rgb(0 0 0 / 12%);
    border: 1px solid #eef0f2;
}

.registration-form-title {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}

.form-cols > div {
    display: inline-block;
    width: calc(99% / 2 - 20px);
    vertical-align: top;
    margin-right: 20px;
}

.form-field input {
    border-radius: 20px;
    outline: none;
    padding: 15px 15px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
}

.form-submit-field {
    margin-right: 15px;
}

.form-submit-field input {
    background-color: #04c38b;
    outline: none;
    border: 1px solid #04c38b;
    color: #fff;
    border-radius: 20px;
    padding: 15px 15px;
    width: 100%;
    cursor: pointer;
}

.forgot-password a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #00dd95;
}

.forgot-password {
    text-align: center;
    display: block;
    margin: 20px 0;
}

/* Banner Badges */

.hero-banner-logo-snippets > div {
    display: inline-block;
    vertical-align: middle;
}

.banner-badges-content {
    font-weight: 600;
    padding-left: 10px;
    font-size: 22px;
}

.banner-badges-content span {
    font-weight: 400;
    display: block;
    padding-top: 5px;
    font-size: 16px;
    color: #989898;
    font-weight: 500;
}

.hero-banner-logo-snippets {
    position: absolute;
    bottom: 20px;
    left: 100px;
}

/* Section Title  */

.site-section {
    padding: 50px 15px;
}

.section-title span {
    color: #00dd95;
}
.section-title {
    color: #212338;
    font-weight: 700;
    font-size: 30px;
    display: block;
    text-align: center;
}

/* Integration Section */

.section-integration-container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-integration-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    padding-top: 50px;
    margin-bottom: 50px;
}

.section-snippets {
    margin-top: 10px;
    color: #827e7e;
    line-height: 30px;
}

.section-integration-container .section-title {
    margin-bottom: 30px;
}

.section-integration-item {
    display: inline-block;
    width: calc(100% / 3 - 10px);
    vertical-align: top;
}

.integration-title {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
}

/* Pricing Section */

.section-pricing-container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-pricing {
    background-color: #efefec;
}

.section-title-snippets {
    text-align: center;
    margin-top: 20px;
    color: #827e7e;
}

.section-pricing-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.section-pricing-item {
    display: inline-block;
    vertical-align: top;
    width: calc(99% / 3 - 30px);
    background-color: #fff;
    padding: 30px 40px;
    margin-right: 30px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 4%), 0 2px 8px 0 rgb(0 0 0 / 12%);
    border: 1px solid #eef0f2;
}

.section-pricing-item hr {
    border: 1px solid #96969629;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.pricing-desc {
    margin: 10px 0;
    color: #989898;
}

.pricing-title {
    font-weight: 600;
    margin-top: 10px;
}


.pricing-details {
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
}

.pricing-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.pricing-btn {
    display: inline-block;
    background-color: #d73a31;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pricing-information {
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10%;
}

.pricing-information > div {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.pricing-information i {
    color: #56b1bf;
    padding-right: 12px;
}	

/* Call To Action */

.section-call-to-action-snippets {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-weight: 500;
    font-size: 20px;
}

.steps {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 4 );
    float: left;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 40px 15px;
    position: relative;
}

.step-title {
    font-size: 18px;
    font-weight: 600;
}


.steps:after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: -45px;
    border: solid transparent;
    border-left-color: #000;
    border-width: 50px;
}
.steps:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: -50px;
    border: solid transparent;
    border-left-color: #fff;
    border-width: 50px;
}

.steps:last-child:before, .steps:last-child:after{
	content: none;
}

.section-call-to-action-container {
    max-width: 1280px;
    margin: 0 auto;
}

.pricing-images {
    margin: 0 auto;
    text-align: center;
}

.section-snippets a {
    text-decoration: none;
    color: #00dd95;
    font-weight: 600;
}


@media (max-width: 1200px){
    .step-title {
        font-size: 15px;
    }

    .hero-banner-contents {
        margin-bottom: 12px;
    }

    .integration-title {
        font-size: 16px;
    }

    .section-pricing-item {
        padding: 30px 20px;
    }
}

@media (min-width: 1024px){
	.mobile-hamburger, .mobile-tooltip {
		display: none;
	}
}

@media (max-width: 1023px){

    .section-integration-item {
	    display: block;
	    width: 100%;
	    max-width: 400px;
	    margin: 0 auto;
	    margin-bottom: 60px;
	}

    .header-logo img {
        max-width: 90px;
    }

    .section-pricing-item {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .steps {
	    width: 100%;
	    border-bottom: 1px solid #fff;
	}
	.steps:before, .steps:after {
		content: none;
	}
	.hero-banner-float {
	    position: relative;
	    top: initial;
	    left: inherit;
	}
	.hero-banner-logo-snippets {
	    position: relative;
	    bottom: initial;
	    left: inherit;
	}
	.hero-banner-title {
	    margin-bottom: 40px;
	}

	.hero-banner-logo-snippets {
	    margin-top: 30px;
	}
	.hero-banner-holder {
	    height: initial ;
	}

	.hero-banner-holder {
	    padding: 50px 30px;
	    text-align: center;
	    position: relative;
	}

	.hero-banner-holder:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    background-color: #ffffffd6;
	    height: 100%;
	    width: 100%;
	}

	.hero-banner-float {
	    margin: 0 auto;
	}
	.registration-form {
		background-color: #ffffffed;
	}
	.forgot-password a {
		color: #212338;
	}

    .mobile-tooltip {
        position: absolute;
        left: 15px;
        display: block;
    }

	.navigation {
	    display: none;
	}

	header {
	    position: fixed;
	    height: 60px;
	    background-color: #fff;
	    width: 100%;
	    z-index: 99;
	}

	section.hero-banner {
	    padding-top: 50px;
	}

	.header-logo {
	    position: absolute;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    text-align: center;
        top: 10px;
	}

	.mobile-hamburger span {
	    font-weight: 700;
	}
	.mobile-hamburger {
	    position: absolute;
	    right: 15px;
        display: block;
	}

	.navigation {
		display: block;
	    position: fixed;
	    top: 60px;
	    left: 0;
	    width: 100%;
        height: 100vh;
	    transition: 0.5s ease-in-out;
	    transform: translateX(-100%);
	}

	nav ul {
	    background-color: #fff;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    text-align: left;
	}

	.navigation li {
		margin-right: 0;
        width: 100%;
        text-align: left;
        padding: 10px 15px; 
	}

	.navigation.show {
	    transform: translateX(0);
	}

    .navigation {
        padding: 0;
    }

    .navigation ul {
        padding: 20px 0;
    }

    .header-nap {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        transition: 0.5s ease-in-out;
        background-color: #fff;
        text-align: left;
        padding: 20px 15px;
        height: 100vh;
        transition: 0.5s ease-in-out;
        transform: translateX(-100%);
    }

    .header-nap.show {
         transform: translateX(0);
    }

    .header-nap > div {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .top-header > div {
        display: block;
        width: 100%;
    }



}

@media (max-width: 768px){
	.form-cols > div {
	    width: 100%;
	    margin-right: 0;
	}

	.hero-banner-title {
		font-size: 30px;
	}
	.registration-form-title {
		font-size: 16px;
	}
	.registration-form {
	    padding: 40px 20px;
	}
	.hero-banner-holder {
	    padding: 50px 15px;
	}

	.hero-banner-title span, .section-title span {
	    display: block;
	    text-align: center;
	    padding-left: 0;
	}

	.form-submit-field {
	    margin-right: 0;
	}

	.banner-badges-content {
		font-size: 20px;
	}
    .pricing-information > div {
        font-size: 12px;
    }

    .section-title {
        font-size: 25px;
    }
}

